<h1>New Message </h1>

<form method="POST" action="/new">
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name" required><br>
  <label for="usermsg">Message</label><br>
  <input type="text" id="usermsg" name="usermsg" required>
  <br>
  <input type="submit" value="Submit">
</form>